In [ ]:
import pyodbc
import pandas as pd

#logging in to xpressfeed using desktop credentials
QA_SERVER = 'qaidbsql01\qa2008'
QA_DB = 'Xpressfeed'
_SQL_SERVER_DRIVER = '{SQL Server}'

server = QA_SERVER
database = QA_DB
connStr = 'DRIVER=' + _SQL_SERVER_DRIVER + ';' + 'SERVER={0};DATABASE={1};TDS_Version=8.0;Trusted_Connection=yes;'.format(server, database)
conn = pyodbc.connect(connStr)

In [8]:
query_str = 'SELECT c.companyId, fi.periodEndDate, fi.filingDate, fp.fiscalchainSeriesId as fiscalChainSeriesId,' \
                    'fp.fiscalQuarter, fp.fiscalYear, fd.dataItemValue * fu.unitTypeValue as actualFundamentalSales ' \
                    'FROM Xpressfeed..ciqCompany c JOIN Xpressfeed..ciqFinPeriod fp ON fp.companyId = c.companyId ' \
                    'JOIN Xpressfeed..ciqFinInstance fi ON fi.financialPeriodId = fp.financialPeriodId ' \
                    'JOIN Xpressfeed..ciqFinInstanceToCollection ic ON ic.financialInstanceId = fi.financialInstanceId ' \
                    'JOIN Xpressfeed..ciqFinCollectionData fd ON fd.financialCollectionId = ic.financialCollectionId ' \
                    'JOIN Xpressfeed..ciqFinUnitType fu ON fd.unitTypeId = fu.unitTypeId ' \
                    'WHERE c.companyId in (21835, 21888) AND fd.dataItemId IN (112) AND fp.periodTypeId=2'
                    
df = pd.read_sql(query_str, conn)

In [ ]:
#Apple Sales

#company id
ciq_id = "24937"

#gross pp&e
line_item = '1169'
line_item_name = "Gross PP&E"

#annual data (1-annual; 2-Quarterly; 3-YTD; 4-LTM; 10-Semi-Annual; 17:Interim )
period_type = '1'

#fiscal year
fiscal_year = '2018'

#latest filing
financial_flag = '1'


query_str = 'SELECT c.companyId, fi.periodEndDate, fi.filingDate, fp.fiscalchainSeriesId as fiscalChainSeriesId,' \
                    'fp.fiscalQuarter, fp.fiscalYear, fd.dataItemValue * fu.unitTypeValue as data_item ' \
                    'FROM Xpressfeed..ciqCompany c JOIN Xpressfeed..ciqFinPeriod fp ON fp.companyId = c.companyId ' \
                    'JOIN Xpressfeed..ciqFinInstance fi ON fi.financialPeriodId = fp.financialPeriodId ' \
                    'JOIN Xpressfeed..ciqFinInstanceToCollection ic ON ic.financialInstanceId = fi.financialInstanceId ' \
                    'JOIN Xpressfeed..ciqFinCollectionData fd ON fd.financialCollectionId = ic.financialCollectionId ' \
                    'JOIN Xpressfeed..ciqFinUnitType fu ON fd.unitTypeId = fu.unitTypeId ' \
                    'WHERE c.companyId={0} AND fd.dataItemId={1} AND fp.periodTypeId={2} AND ' \
                    'fp.fiscalYear={3} AND fi.latestForFinancialPeriodFlag = {4}'.format(ciq_id, line_item, period_type, fiscal_year, financial_flag)
                    
df = pd.read_sql(query_str, conn)
df

In [30]:
#Apple Sales

#company id 
ciq_id = ["24937", "1462309"]

#gross pp&e & sales
line_item = ['1169', "1"]
line_item_name = "Gross PP&E"

#annual data (1-annual; 2-Quarterly; 3-YTD; 4-LTM; 10-Semi-Annual; 17:Interim )
period_type = '1'

#fiscal year
fiscal_year = '2018'

#latest filing
financial_flag = '1'


query_str = 'SELECT c.companyId, fi.periodEndDate, fi.filingDate, fp.fiscalchainSeriesId as fiscalChainSeriesId,' \
                    'fp.fiscalQuarter, fp.fiscalYear, fd.dataItemName, fn.dataItemName, fd.dataItemValue * fu.unitTypeValue as data_item ' \
                    'FROM Xpressfeed..ciqCompany c JOIN Xpressfeed..ciqFinPeriod fp ON fp.companyId = c.companyId ' \
                    'JOIN Xpressfeed..ciqFinInstance fi ON fi.financialPeriodId = fp.financialPeriodId ' \
                    'JOIN Xpressfeed..ciqFinInstanceToCollection ic ON ic.financialInstanceId = fi.financialInstanceId ' \
                    'JOIN Xpressfeed..ciqFinCollectionData fd ON fd.financialCollectionId = ic.financialCollectionId ' \
                    'JOIN Xpressfeed..ciqDataItem fn ON fd.dataItemId = fn.dataItemId ' \
                    'JOIN Xpressfeed..ciqFinUnitType fu ON fd.unitTypeId = fu.unitTypeId ' \
                    'WHERE c.companyId IN ({0}) AND fd.dataItemId IN ({1}) AND fp.periodTypeId={2} AND ' \
                    'fp.fiscalYear={3} AND fi.latestForFinancialPeriodFlag = {4}'.format(', '.join(ciq_id), ' ,'.join(line_item), period_type, fiscal_year, financial_flag)
                    
df = pd.read_sql(query_str, conn)
df

DatabaseError: Execution failed on sql 'SELECT c.companyId, fi.periodEndDate, fi.filingDate, fp.fiscalchainSeriesId as fiscalChainSeriesId,fp.fiscalQuarter, fp.fiscalYear, fd.dataItemName, fn.dataItemName, fd.dataItemValue * fu.unitTypeValue as data_item FROM Xpressfeed..ciqCompany c JOIN Xpressfeed..ciqFinPeriod fp ON fp.companyId = c.companyId JOIN Xpressfeed..ciqFinInstance fi ON fi.financialPeriodId = fp.financialPeriodId JOIN Xpressfeed..ciqFinInstanceToCollection ic ON ic.financialInstanceId = fi.financialInstanceId JOIN Xpressfeed..ciqFinCollectionData fd ON fd.financialCollectionId = ic.financialCollectionId JOIN Xpressfeed..ciqDataItem fn ON fd.dataItemId = fn.dataItemId JOIN Xpressfeed..ciqFinUnitType fu ON fd.unitTypeId = fu.unitTypeId WHERE c.companyId IN (24937, 1462309) AND fd.dataItemId IN (1169 ,1) AND fp.periodTypeId=1 AND fp.fiscalYear=2018 AND fi.latestForFinancialPeriodFlag = 1': ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'dataItemName'. (207) (SQLExecDirectW)")

In [ ]:
query_str = query_str = 'SELECT c.companyId, fi.periodEndDate, fi.filingDate, ' \
                 fp.fiscalQuarter, fp.fiscalYear, fd.dataItemId, fd.dataItemValue * fu.unitTypeValue as data_item, fz.dataItemName ' \
                    'FROM Xpressfeed..ciqCompany c JOIN Xpressfeed..ciqFinPeriod fp ON fp.companyId = c.companyId ' \
                    'JOIN Xpressfeed..ciqFinInstance fi ON fi.financialPeriodId = fp.financialPeriodId ' \
                    'JOIN Xpressfeed..ciqFinInstanceToCollection ic ON ic.financialInstanceId = fi.financialInstanceId ' \
                    'JOIN Xpressfeed..ciqFinCollectionData fd ON fd.financialCollectionId = ic.financialCollectionId ' \
                    'JOIN Xpressfeed..ciqDataItem fz ON fz.dataItemId = fd.dataItemId ' \
                    'JOIN  Xpressfeed..ciqDataItem fz ON fz.dataItemId = fd.dataItemId ' \
                    'JOIN Xpressfeed..ciqFinUnitType fu ON fd.unitTypeId = fu.unitTypeId ' \
                    'WHERE c.companyId={0} AND fd.dataItemId={1} AND fp.periodTypeId={2} AND ' \
                    'fp.fiscalYear={3} AND fi.latestForFinancialPeriodFlag = {4}'.format(ciq_id, line_item, period_type, fiscal_year, financial_flag)

    
df = pd.read_sql(query_str, conn)
df